<div class="syntaxhighlighter">
	<table cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
			#if( !$codeContainer.hideLineNum )
			<td class="gutter">
			#foreach( $codeRow in $codeContainer.codeRows ) #set ( $lineNum = $velocityCount + $codeContainer.getFirstLine() - 1 )
				<div class="line">$lineNum</div>
			#end
			</td>
			#end
			<td class="code">
				<div class="container">
				#foreach( $codeRow in $codeContainer.codeRows )
					<div class="line">#if($codeRow.code.size() == 0)&nbsp;#end#foreach( $code in $codeRow.code )<code class="$code.style">$code.text</code>#end</div>
				#end
				</div>
			</td>
			</tr>
		</tbody>
	</table>
</div>
