<div class="syntaxhighlighter_jira">
#foreach( $codeRow in $codeContainer.codeRows )
	<div>
		#foreach( $code in $codeRow.code )<code class="syntaxhighlighter_jira $code.style">$code.text</code>#end
	</div>
#end
</div>
