<style>
<!--
div.syntaxhighlighter_jira {
	margin: 1em;
	line-height: 1.1em;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	color: black;
}
code.syntaxhighlighter_jira {
	display: inline !important;
	white-space: pre !important;
	padding: 0px !important;
}
code.plain {color: black;}
code.comments {color: #008200;}
code.string {color: blue;}
code.keyword {color: #006699; font-weight: bold;}
code.preprocessor {color: gray;}
code.variable {color: #aa7700;}
code.value {color: #009900;}
code.functions {color: #ff1493;}
code.constants {color: #0066cc;}
code.script {font-weight:bold;}
code.color1 {color: gray;}
code.color2 {color: #ff1493;}
code.color3 {color: red;}
-->
</style>
