<style>
<!--
div.syntaxplugin {
	margin: 1em 0em;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-size: 1em;
    line-height: 1.4em !important;
	font-weight: normal;
	font-style: normal;
	color: black;
	border-radius: 5px;
	border: 1px dashed #bbb;
}
div.syntaxplugin td.syntaxplugin_title {
	border-bottom: 1px solid #bbb;
	padding: 5px 15px;
	background-color: #f5f5f5 !important;
	font-weight: bold;
	line-height: 1em;
}
div.syntaxplugin td.syntaxplugin_gutter {
	background-color: #f5f5f5 !important;
    border-right: 1px solid #ccc !important;
    color: #707070;
	text-align: right;
}
div.syntaxplugin td.syntaxplugin_gutter div.line {
	padding: 0 0.5em 0 1em !important;
}
div.syntaxplugin td.syntaxplugin_gutter div.highlighted {
    background-color: #6ce26c !important;
    color: white !important;
}
div.syntaxplugin td.syntaxplugin_code div.syntaxplugin_container {
	margin-top: 1em !important;
    padding-bottom: 1em !important;
}
div.syntaxplugin td.syntaxplugin_code div.highlighted {
	background-color: #e0e0e0 !important;
}
div.syntaxplugin td.syntaxplugin_code div.line {
	padding: 0 1em !important;
}
div.syntaxplugin code {
	display: inline !important;
	white-space: pre !important;
	padding: 0px !important;
}
div.syntaxplugin code.plain {color: black;}
div.syntaxplugin code.comments {color: #008200;}
div.syntaxplugin code.string {color: blue;}
div.syntaxplugin code.keyword {color: #006699; font-weight: bold;}
div.syntaxplugin code.preprocessor {color: gray;}
div.syntaxplugin code.variable {color: #aa7700;}
div.syntaxplugin code.value {color: #009900;}
div.syntaxplugin code.functions {color: #ff1493;}
div.syntaxplugin code.constants {color: #0066cc;}
div.syntaxplugin code.script {font-weight:bold;}
div.syntaxplugin code.color1 {color: gray;}
div.syntaxplugin code.color2 {color: #ff1493;}
div.syntaxplugin code.color3 {color: red;}
-->
</style>
